name: Build Android APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Java
      uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: '17'

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: 'stable'

    - name: Get Dependencies
      run: flutter pub get

    - name: Create Android Platform Files
      run: flutter create . --platforms android

    - name: Generate Icons
      run: flutter pub run flutter_launcher_icons

    - name: Enable Cleartext Traffic & Internet & Rename
      run: |
        # Add Internet Permission
        sed -i '/<manifest/a \    <uses-permission android:name="android.permission.INTERNET"/>' android/app/src/main/AndroidManifest.xml
        # Enable Cleartext
        sed -i 's/<application/<application android:usesCleartextTraffic="true"/g' android/app/src/main/AndroidManifest.xml
        # Rename App to "Google+"
        sed -i 's/android:label="gplus_reborn"/android:label="Google+"/g' android/app/src/main/AndroidManifest.xml
        cat android/app/src/main/AndroidManifest.xml # Verify

    - name: Build APK
      run: flutter build apk --release

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: GPlus-Reborn
        path: build/app/outputs/flutter-apk/app-release.apk
